.notebook .content .tags {
  padding-inline-start: 0;

  & :has(.active) {
    font-weight: bold;
    border-width: 2px;
  }
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tags > li {
  border: 1px solid black;
  border-radius: 2rem;
  padding-inline: 0.75rem;
}
